* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
}

header, main, aside {
  border: 0;
  padding: 0;
  margin: 0;
}

.header {
  background: #33CCFF;
  background: -webkit-linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  background: -o-linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  background: -moz-linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  background: linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  color: white;
  height: 16vh;
  align-items: flex-end;
}

.content {
  height: 84vh;
}

h1 {
  padding-top: 20px;
  text-align: center;
  text-shadow: 2px 2px 8px #000000;
}

h4 {
  display: inline;
}

.toggle-markers {
  text-decoration: underline;
  text-align: center;
}

.dropdown-toggle {
  margin-top: 10px;
  width: 100%;
  color: white;
  background: #33CCFF;
  background: -webkit-linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  background: -o-linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  background: -moz-linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
  background: linear-gradient(45deg, rgb(150, 204, 255), rgb(51, 204, 255), rgb(51, 240, 255));
}

.dropdown-toggle:hover {
  color: white;
}

.dropdown-menu {
  width: 100%;
}

.full-height {
  height: 100%;
}

/* From Bootstrap's Documentation.
// Eliminates Gutters between layout items.
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
*/

#aside {
  background-color: #FFCC33;
  color: white;
  overflow: auto;
  width: 25vw;
  height: 84vh;
}

.toggle-markers {
  cursor: pointer;
}

.location {
  width: 100%;
  padding: 20px;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
}

.location:hover {
  background-color: rgba(255,255,255,0.25);
}

#map {
  position: absolute;
  height: 84vh;
  left: 25vw;
  width: 75vw;
}

#pano {
  height: 150px;
  width: 200px;
}

.icon {
  display: none;
}

@media only screen and (max-width:767px) {
    #menu-toggle {
      width: 8vw;
      background-color: #FFCC33;
      color: white;
      font-size: 2em;
      align-items: center;
      justify-content: center;
      display: flex;
      height: 90vh;
      position: relative;
      z-index: 99;
    }

    .icon {
      display: block;
    }

    #aside {
      width: 0;
      position: relative;
      height: 90vh;
      z-index: 99;
      -webkit-transition: width 1s;
      transition: width 1s;
    }

    #aside.extend {
      width: 92vw;
    }

    #aside.hide {
      width: 0;
    }

    #map {
      left: 8vw;
      width: 92vw;
      height: 90vh;
    }

    .header {
      height: 10vh;
    }

    h1 {
      font-size: 16px;
      padding-top: 0;
    }
}