* {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #33CCFF;
  color: white;
  height: 16vh;
  align-items: flex-end;
}

.content {
  height: 84vh;
}

h1 {
  padding-top: 20px;
  text-align: center;
}

.toggle-markers {
  text-decoration: underline;
  text-align: center;
}

.dropdown-toggle {
  margin-top: 10px;
  width: 100%;
  background-color: #33CCFF;
}

.full-height {
  height: 100%;
}

/* From Bootstrap's Documentation.
// Eliminates Gutters between layout items. 
.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
*/

#aside {
  background-color: #FFCC33;
  color: white;
  overflow: auto;
  width: 25%;
}

.location {
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

#map {
  height: 100%;
  width: 75%;
}

#pano {
  height: 300px;
  width: 400px;
}

@media (max-width:767px) {
    .col-sm-9, #map {
      width: 100%;
    }
}